body {
    background: radial-gradient(circle, #f3e8ff, #e3d0ff);
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thank-box {
    width: 430px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.25);
    border-top: 10px solid #673ab7;
    text-align: center;
    font-family: Arial, sans-serif;
    animation: popIn 0.6s ease forwards;
    opacity: 0;
    transform: scale(0.6);
}

@keyframes popIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.thank-box h2 {
    margin-bottom: 15px;
    font-size: 22px;
}

.home-btn {
    padding: 12px 20px;
    background: #673ab7;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

.home-btn:hover {
    background: #5830a4;
}

/* Canvas must cover whole screen */
#confettiCanvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
